/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.dark-theme {
    --background: #121212;
    color: white;
  }
  
  .logo {
    height: 30px;
  }
  .header-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    display: block;       /* Permite centrar el elemento */
    margin: 0 auto;       /* Centrado horizontal */
    transform: translateY(0px); /* Mueve el ícono 4px hacia arriba */
  }
  
  .icon-settings {
    font-size: 24px;
    color: white;
  }
  
  .section-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .league-title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 15px;
    color: yellow;
  }
  
  .match-list {
    background: transparent;
  }
  
  .match-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  
  .team-logo {
    width: 30px;
    height: 30px;
  }
  
  .team-name {
    font-weight: bold;
  }
  
  .vs {
    font-weight: bold;
    color: white;
    justify-content: center;
  
  }
  
  .jersey-icon {
    width: 25px;
  }
  
  ion-tab-bar {
    background: black;
  }
  
  :root {
    --ion-color-primary: #E58F04;
    --ion-color-primary-rgb: 229,143,4;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #ca7e04;
    --ion-color-primary-tint: #e89a1d;
  }
  
  /* Estilos globales para todos los botones */
  ion-button {
    --background: #E58F04;
    --background-activated: #ca7e04;
    --background-hover: #ca7e04;
    --background-focused: #E58F04;
  }
  /* Icono de camiseta */
  .shirt-icon {
    width: 40px; /* Adjusted size for the shirt icon */
    height: 40px; /* Adjusted size for the shirt icon */
  }
  
  
/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.dark-theme {
    --background: #121212;
    color: white;
  }
  
  .logo {
    height: 30px;
  }
  .header-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    display: block;       /* Permite centrar el elemento */
    margin: 0 auto;       /* Centrado horizontal */
    transform: translateY(0px); /* Mueve el ícono 4px hacia arriba */
  }
  
  .icon-settings {
    font-size: 24px;
    color: white;
  }
  
  .section-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .league-title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 15px;
    color: yellow;
  }
  
  .match-list {
    background: transparent;
  }
  
  .match-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  
  .team-logo {
    width: 30px;
    height: 30px;
  }
  
  .team-name {
    font-weight: bold;
  }
  
  .vs {
    font-weight: bold;
    color: white;
    justify-content: center;
  
  }
  
  .jersey-icon {
    width: 25px;
  }
  
  ion-tab-bar {
    background: black;
  }
  
  :root {
    --ion-color-primary: #E58F04;
    --ion-color-primary-rgb: 229,143,4;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #ca7e04;
    --ion-color-primary-tint: #e89a1d;
  }
  
  /* Estilos globales para todos los botones */
  ion-button {
    --background: #E58F04;
    --background-activated: #ca7e04;
    --background-hover: #ca7e04;
    --background-focused: #E58F04;
  }
  /* Icono de camiseta */
  .shirt-icon {
    width: 40px; /* Adjusted size for the shirt icon */
    height: 40px; /* Adjusted size for the shirt icon */
  }
  
  
    